NODE_ENV="development"

PORT=3000

DATABASE_URL="postgresql://admin:password@localhost:5432/sprint4"

ACCESS_SECERET_KEY="EXAMPLE-ACCESS-KEY"
REFRESH_SECRET_KEY="EXAMPLE-REFRESH-KEY"

ACCESS_EXPIRY_UNIT="h"
ACCESS_EXPIRY_VALUE=1

REFRESH_EXPIRY_UNIT="d"
REFRESH_EXPIRY_VALUE=7