NODE_ENV="development"

PORT=3000

DATABASE_URL="postgresql://admin:password@localhost:5432/sprint4"

ACCESS_SECERET_KEY="SPRINT-4-ACCESS-KEY"
REFRESH_SECRET_KEY="SPRINT-4-REFRESH-KEY"

ACCESS_EXPIRY_UNIT="h"
ACCESS_EXPIRY_VALUE=1

REFRESH_EXPIRY_UNIT="d"
REFRESH_EXPIRY_VALUE=7

MASTER_USER_DATA="{"email":"master@sprint.com","password":"master1234","nickname":"master","role":"master"}"
ARCHIVE_USER_DATA="{"email":"archive@sprint.com","password":"archive1234","nickname":"archive","role":"user","isArchiveUser":true}"

LOGIN_ATTEMPTS_MAX=5